.container{
    border: 1px solid black;
}
.left{
    width: 100px;
    height: 100px;
    background: blueviolet;
    float: left;
    margin: 10px;
}
/* .container:after{
    content: " ";
    clear: both;
    display: block;
} */
.clearfix{
    clear: both;
    display: block;
}
/* .center:after{
    content: " ";
    clear: both;
    display: block;
} */
.center{

}
.right{
    width: 200px;
    height: 200px;
    background: yellow;
    float: right;
    margin: 10px;
}
.position{
    border: 1px solid black;
    width: 100%;
    height: 300px;
}
.box1{
    position: absolute;
    background: blue;
}


