*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
}

.popular-container{
    margin-left: 10px;
    margin-top: 20px;
}

.popular-container .popular-container__header{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    font-weight: 600;
}
 .popular-button .popular-button-item{
    margin: 5px;
    /* padding: 5px; */
    flex: 1 1;
}
.button__item{
    display: inline; 
    margin: 5px;   
}

.popular-button-item input{
    background: gold;  
    border: none;
    border-bottom: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    border-radius: 2px;
    
}
.popular-button-item input:hover{
    background: green;
    cursor: pointer;
}
.popular-button-item input:last-child{
    background: red;
}
.popular-button-item input:hover:last-child{
    background: bisque;
}
.popular-button-item input:first-child{
    background: rgb(8, 102, 36);
}
.popular-button-item input:hover:first-child{
    background: bisque;
}
.search input{
    border-radius: 25px;
    width: 550px;
    padding: 10px;
    margin-top: 10px;
    background: bisque;
    border: gainsboro;
}




/* div{
    position: relative;
  left: 30px;
  border: 3px solid #73AD21;
} */

/* div{
    position: fixed;
    bottom: 0;
    right: 0;
    border: 3px solid #73AD21;
} */

/* .test .test-position:first-child{
    position:absolute;
    width: 400px;
    height: 400px;
    border: 3px solid #73AD21;
}


.test .test-position:last-child{
    position: relative;
    top: 10px;
    right: 0;
    width: 400px;
    height: 500px;
    border: 3px solid red;
   

}

div{
    text-align:center ;
    align-items: center;
} */

/* 1. position: relative: Thay đổi so với vị trí ban đầu, k ảnh hưởng đến các vị trí xung quanh
    2. position: Absolute: Thay đổi phụ thuộc vào thành phân bao ngoài  (thành phần định vị trí tương đối position: relative) hoặc theo cửa sổ trình duyệt. Lấy thành phần cha gần nhất có thuộc tính position
    3. position: fixed: Thay đổi phụ thuộc vào thành phần html(root). Chúng không bị ảnh hưởng bởi thao tác cuộn
    4. Một thành phần được định nghĩa sử dụng position: sticky chỉ hoạt động trong thành phần cha chứa nó (Tức là: chỉ bám dính trên thành phần cha chứa nó, nếu thành phần cha bị scroll ra ngoài window thì thành phần con có sử dụng sticky cũng sẽ bị kéo theo).

*/
.test{
    position: relative;
    width: 600px;
    border: 1px solid black;
    height: 600px;
    background: olivedrab;
}

#test_id1{
    position: relative;
    border: 10px blue solid;
    padding: 10px;
    margin: 10px;
    width: 400px;
   

}

#test_id2{
    position: absolute;
    border: 5px red solid;
    padding: 10px;
    margin: 10px;
    width: 400px;
    left: 20px;
    bottom: 0;
    top: 0;
    

}

#test_id3{
    /* position: fixed; */
    position: sticky;
    border: 10px blueviolet solid;
    padding: 10px;
    margin: 10px;
    width: 400px;
}

p{
    background: khaki;
    height: 50vh;
}